@charset "utf-8";
/*字体*/
@font-face {
    font-family:"microsoft yahei","Arial","Helvetica Neue", "Helvetica", "STHeiTi", sans-serif;
}
html, body {height: 100%;}
body {min-width: 320px;width: 100%;font-size: 14px;}
ul,li,img,span{border:none;list-style:none;}
html, body, div, input, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: none;
    font-family: "microsoft yahei";
    appearance: inherit;
    -webkit-appearance: inherit;
    -webkit-tap-highlight-color: transparent;
}

ol, ul, li {list-style: none;}

em i s {
    font-style: normal;
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:focus{
    outline:none;
}
input:focus{
    outline:none;
    outline-color: inherit;
}
img {
    border: 0;
    vertical-align: middle;
}
table {
    width:100%;
    border-collapse: collapse;
    border-spacing:0;
    font-size:inherit;
}
table th,table td{
    padding:5px;
}
table td{
    text-align: center;
}
textarea {
    resize:none;
    padding: 5px;
}
input[type="text"],
input[type="password"],
select,
textarea{
    border:0;
    /*background-color:#fff;*/
    border:1px solid #e5eaed;
}
input[type="checkbox"],input[type="radio"]{
    vertical-align: middle;
}
button {
    border:0;
    cursor:pointer;
    _cursor:hand;
    outline:none;
}
input:focus,select:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
p{
    word-wrap: break-word;
    word-break: normal;
}
.clearfix::after, .clearfix::before {
    content: '';
    display: block;
}
.clearfix::after{
    clear:both;
}
.clearfix{
    zoom:1;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.overflowHidden{
    overflow: hidden;
}
.noPadding{
    padding:0 !important;
}
.noBorder{
    border: none!important;
}
.border{
    border:1px solid #eeeff1;
}
.borderB{
    border-bottom:1px solid #eeeff1;
}
.borderT{
    border-top:1px solid #eeeff1;
}
.borderL{
    border-left:1px solid #eeeff1;
}
.borderR{
    border-right:1px solid #eeeff1;
}
.heightAuto{
    height:auto!important;
}
.widthAuto{
    width:auto!important;
}
.width100{
    width: 100%;
}
.requireTxt{
    color: #f00!important;
    padding: 0 2px;
}
/*图片外层盒子宽高自适应*/
.imgOutside{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}
/*图片高100%，左右居中*/
.commonImgHeight {
    width: auto;
    height: 100%;
    display: block;
    margin:0 auto;
}
/*图片宽100%，高自适应*/
.commonImgWidth {
    width: 100%;
    height: auto;
    display: block;
}
.show,.block{
    display: block;
}
.inlineBlock{
    display: inline-block;
}
.hide{
    display: none;
}
.visiHidden{
    visibility: hidden;
}
/*边框圆角50%*/
.circle50per{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*flex布局垂直居中*/
.centerMiddleFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*垂直居中需设置宽高*/
.centerMiddleAbs{
    /*需要自行设置宽高行高*/
    width: inherit;
    height: inherit;
    line-height: inherit;
    position: absolute;
    text-align: center;
    left:50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*垂直居中table法,外层盒子需设置display:table属性*/
.centerMiddleTable{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}
.margin0Atuo{
    margin:0 auto;
}
.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
.cursor{
    cursor: pointer;
}
.lineThrough{
    text-decoration: line-through;
}
.underLine{
    text-decoration: underline;
}
.verticalMidle{
    vertical-align: middle;
}
.verticalTop{
    vertical-align: top;
}
.transitionAll1s, .moveLeft, .moveRight, .moveUp, .moveDown, .scaleBig, .scaleSmall, .boxShadow, .rotate{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*文字溢出隐藏*/
.textOverflow{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/*基本动画效果*/
/*上下左右移动移*/
.moveLeft:hover{
    transform:translateX(-10px);
    -ms-transform:translateX(-10px); /* IE 9 */
    -moz-transform:translateX(-10px); /* Firefox */
    -webkit-transform:translateX(-10px); /* Safari and Chrome */
    -o-transform:translateX(-10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveRight:hover{
    transform:translateX(10px);
    -ms-transform:translateX(10px); /* IE 9 */
    -moz-transform:translateX(10px); /* Firefox */
    -webkit-transform:translateX(10px); /* Safari and Chrome */
    -o-transform:translateX(10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveUp:hover{
    transform:translateY(-10px);
    -ms-transform:translateY(-10px); /* IE 9 */
    -moz-transform:translateY(-10px); /* Firefox */
    -webkit-transform:translateY(-10px); /* Safari and Chrome */
    -o-transform:translateY(-10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveDown:hover{
    transform:translateY(10px);
    -ms-transform:translateY(10px); /* IE 9 */
    -moz-transform:translateY(10px); /* Firefox */
    -webkit-transform:translateY(10px); /* Safari and Chrome */
    -o-transform:translateY(10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*缩放*/
.scaleBig:hover{
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.scaleSmall:hover{
    transform:scale(0.8);
    -ms-transform:scale(0.8); /* IE 9 */
    -moz-transform:scale(0.8); /* Firefox */
    -webkit-transform:scale(0.8); /* Safari and Chrome */
    -o-transform:scale(0.8); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*边框阴影*/
.boxShadow:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -moz-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transfrom: translate3d(0,-2px,0);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.rotate:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*顶部header和table固定，需设定高和其他样式*/
.stikyHeader{
    left:0; position:fixed; width:100%; top:0;
    z-index: 5;
}
/*底部footer固定，需设定高和其他样式*/
.stikyFooter{
    bottom:0; left:0; position:fixed; width:100%;
    z-index: 5;
}

/*flex系统不与float、vertical-align共用*/
.flexLeftTop{
    display: flex;
}
.flexCenterTop{
    display: flex;
    justify-content: center;
}
.flexRightTop{
    display: flex;
    justify-content: flex-end;
}
.flexLeftCenter{
    display: flex;
    align-items: center;
}
.flexMiddleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexRightCenter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexLeftBottom{
    display: flex;
    align-items: flex-end;
}
.flexCenterBottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flexRightBottom{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*多项目排列*/
.flexManyItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.topBottomFixed{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.leftRightFixed{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
/*网格布局*/
.flex{
    display: flex;
}
.flexCell{
    flex: 1;
}
.flexCellFull{
    flex: 0 0 100%;
}
.flexCell1of2{
    flex: 0 0 50%;
}
.flexCell1of3{
    flex: 0 0 33.333%;
}
.flexCell1of4{
    flex: 0 0 25%;
}

/*圣杯布局*/
.holyGrailBox{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.holyGrailHeader,
.holyGrailFooter{
    flex: 1;
}
.holyGrailBody{
    display: flex;
    flex: 1;
}
.holyGrailContent{
    flex: 1;
}
.holyGrailNav,
.holyGrailAds{
    flex: 0 0 12em;
}
.holyGrailNav{
    order: -1;
}
/*调用示例：
<div class="holyGrailBox">
<div class="holyGrailHeader">头部</div>
<div class="holyGrailBody">
<div class="holyGrailContent">内容</div>
<div class="holyGrailNav">导航</div>
<div class="holyGrailAds">广告</div></div>
<div class="holyGrailFooter">底部</div></div>*/

/*流式布局*/
.fluidLayoutParent{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.fluidLayoutChild{
    box-sizing: border-box;
    flex: 0 0 25%;
}


/*bootstrap样式*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

